# Application Configuration
APP_HOST=localhost
APP_PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# Keycloak Configuration
KC_HOST=localhost
KC_PORT=8080
KC_REALM_NAME=employee_realm

# Vault Configuration
VAULT_URL=http://localhost:8200
VAULT_TOKEN=root
